In [1]:
import pandas

In [2]:
df = pandas.DataFrame([[3,4,5,6],[7,8,9,0]])

In [3]:
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
import pandas
df = pandas.read_csv("supermarkets.csv")
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Name</th>
      <th>Employees</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>3666 21st St</td>
      <td>San Francisco</td>
      <td>CA 94114</td>
      <td>USA</td>
      <td>Madeira</td>
      <td>8</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>735 Dolores St</td>
      <td>San Francisco</td>
      <td>CA 94119</td>
      <td>USA</td>
      <td>Bready Shop</td>
      <td>15</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>332 Hill St</td>
      <td>San Francisco</td>
      <td>California 94114</td>
      <td>USA</td>
      <td>Super River</td>
      <td>25</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>3995 23rd St</td>
      <td>San Francisco</td>
      <td>CA 94114</td>
      <td>USA</td>
      <td>Ben's Shop</td>
      <td>10</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>1056 Sanchez St</td>
      <td>San Francisco</td>
      <td>California</td>
      <td>USA</td>
      <td>Sanchez</td>
      <td>12</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>551 Alvarado St</td>
      <td>San Francisco</td>
      <td>CA 94114</td>
      <td>USA</td>
      <td>Richvalley</td>
      <td>20</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
from geopy.geocoders import Nominatim
n = Nominatim()
co = n.geocode("94 Niagara ave, San Francisco, CA 94112")
print(co)

94, Niagara Avenue, Crocker-Amazon, SF, California, 94112, United States of America

In [7]:
df["passadr"]=df["Address"] + ", " + df["City"]+ ", "+ df["State"]

In [8]:
df["Coordinates"]=df["passadr"].apply(n.geocode)

In [9]:
df["Latitude"]= df["Coordinates"].apply(lambda x : x.longitude if x != None else None )

In [10]:
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Name</th>
      <th>Employees</th>
      <th>passadr</th>
      <th>Coordinates</th>
      <th>Latitude</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>3666 21st St</td>
      <td>San Francisco</td>
      <td>CA 94114</td>
      <td>USA</td>
      <td>Madeira</td>
      <td>8</td>
      <td>3666 21st St, San Francisco, CA 94114</td>
      <td>(3666, 21st Street, Noe Valley, SF, California...</td>
      <td>-122.429343</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>735 Dolores St</td>
      <td>San Francisco</td>
      <td>CA 94119</td>
      <td>USA</td>
      <td>Bready Shop</td>
      <td>15</td>
      <td>735 Dolores St, San Francisco, CA 94119</td>
      <td>None</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>332 Hill St</td>
      <td>San Francisco</td>
      <td>California 94114</td>
      <td>USA</td>
      <td>Super River</td>
      <td>25</td>
      <td>332 Hill St, San Francisco, California 94114</td>
      <td>(332, Hill Street, Noe Valley, SF, California,...</td>
      <td>-122.428601</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>3995 23rd St</td>
      <td>San Francisco</td>
      <td>CA 94114</td>
      <td>USA</td>
      <td>Ben's Shop</td>
      <td>10</td>
      <td>3995 23rd St, San Francisco, CA 94114</td>
      <td>(3995, 23rd Street, Noe Valley, SF, California...</td>
      <td>-122.431714</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>1056 Sanchez St</td>
      <td>San Francisco</td>
      <td>California</td>
      <td>USA</td>
      <td>Sanchez</td>
      <td>12</td>
      <td>1056 Sanchez St, San Francisco, California</td>
      <td>(1056, Sanchez Street, Noe Valley, SF, Califor...</td>
      <td>-122.429815</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>551 Alvarado St</td>
      <td>San Francisco</td>
      <td>CA 94114</td>
      <td>USA</td>
      <td>Richvalley</td>
      <td>20</td>
      <td>551 Alvarado St, San Francisco, CA 94114</td>
      <td>(551, Alvarado Street, Noe Valley, SF, Califor...</td>
      <td>-122.433220</td>
    </tr>
  </tbody>
</table>
</div>

In [1]:
import cv2

ImportError: DLL load failed: %1 is not a valid Win32 application.

In [1]:
import cv2

ImportError: DLL load failed: %1 is not a valid Win32 application.